.navbar-wrapper {
    background-color: $purple;
    box-shadow: $light-shadow;
}

.navbar {
    height: 5rem;
    @extend %flex-between;
    color: $white;
    &-logo {
        font-size: 2rem;
        font-style: italic;
    }
    &-github {
        color: $white;
        font-size: 2rem;
        transition: $ease-trans;
        &:hover {
            color: $light-green;
        }
    }
}
